{{- define "main" }} 
    {{- $pages := union .RegularPages .Sections }} 
    {{- $paginator := .Paginate $pages }} 

    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }} 
    {{- partial "home_info.html" . }} 
    {{- end }}

    <div class="projects-section">
        <h2>Interesting Projects</h2>
        <div class="portfolio-projects">
            <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="https://github.com/Hotstopper/btc_halving"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/btc_regimes/"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>BTC Regimes</h3>
                <p>I used a three-state Markov-switching model to classify Bitcoin market regimes, then linked regime transitions to macroeconomic conditions using probit regressions.</p>
            </div>
            <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="https://github.com/Hotstopper/hk_election"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/hk_election"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>Hong Kong Election Analysis</h3>
                <p>I analysed Hong Kong census and district council election data to identify key factors shaping district political preferences.</p>
            </div>
                    <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="https://github.com/Hotstopper/sx5e_dividends"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/sx5e_dividends"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>SX5E Dividends Forecasting</h3>
                <p>I tried to improve on market forecasts of DPS, which lead to some interesting observations of market efficiency.</p>
            </div>
                    <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="https://github.com/Hotstopper/coc_troop_stats_pca"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/coc_pca"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>PCA classification of CoC Troops</h3>
                <p>I used Principal Component Analysis to classify different troops in Clash of Clans, a popular mobile game.</p>
            </div>
        </div>
    </div>
{{- end }}