{{- define "main" }} 
    {{- $pages := union .RegularPages .Sections }} 
    {{- $paginator := .Paginate $pages }} 

    {{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }} 
    {{- partial "home_info.html" . }} 
    {{- end }}

    <div class="projects-section">
        <h2>Interesting Projects</h2>
        <div class="portfolio-projects">
            <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/tda_timetracking/"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>TDA Timekeeping</h3>
                <p>I categorised my time across activities and applied topological data analysis (TDA) to map the shape of my behavioural patterns.</p>
            </div>
            <div class="project">
                <div class="project-header">
                    <i class="fa-regular fa-folder-open folder-icon"></i>
                    <div class="small-icons">
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                        <a href="/projects/hk_election"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <h3>HK Election Analysis</h3>
                <p>I analysed Hong Kong census and district council election data to identify key factors shaping district political preferences.</p>
            </div>
        </div>
    </div>
{{- end }}